
<div class="tab-content">

    <div id="overview" class="tab-pane fade in active">
        <div  style="height:300px;width:auto; background: url(../images/page_under_construction.jpg) no-repeat center;">
        </div>


    </div>


</div>