
    <div class="tab-content">


        <div id="overview" class="tab-pane fade in active">

            <div class="mob-app-overview-seo">
            </div>
            <div class="container mobile-app-overview-inner-section">
                <div class="entry-content">

                    <p>In simple words SEO or Search Engine Optimisation is a way of getting your website/blog indexed by google and displaying it on the Search Engine Page Results (SERP). The higher you are rank on the SERP the better it is.</p>
                    <p>
                        Sounds complicated?
                        <br> Let us simplify it further for you.
                    </p>
                    <p>
                        Consider this example
                        <br> Imagine you are in the business of selling luxury pens.
                    </p>
                    <p><strong class="side-image eleven" style="font-size:24px;color:#60c1d9">Scenario 1:</strong></p>
                    <p>You build a shiny store with pens displayed all around the world. And sit there waiting for customers to find your store by themselves and buy pens from you.</p>
                    <p>
                        <strong>Day 1</strong> – no customer comes
                        <br>  <strong>Day 2</strong> – nil
                        <br> <strong>Day 3</strong> – nil
                    </p>
                    <p>You wonder what happened? You have an awesome product, you have a shiny store, you are a cordial sales person. So why won’t people come.</p>
                    <p>The simple answer is – they don’t know, hence they won’t come!</p>
                    <p><strong class="side-image twele" style="font-size:24px;color:#60c1d9">Scenario 2:</strong></p>
                    <p>You build this shiny store, you go to various places and inform people that you have launched this new store. You leave your information in various marketplaces where people come to look for pens, and make it easy for them to find you.</p>
                    <p>
                        <strong>Day 1</strong> – you get some visitors
                        <br> <strong>Day 2</strong> – Some more people come
                        <br> You update your information, add some offers etc.
                        <br> <strong>Day 3</strong>– you see people frolicking in your store.
                    </p>
                    <p><strong>So, what was the difference between scenario 1 and scenario 2? – in scenario 2 you made it simpler for people with an intent to buy a luxury pen to find you.</strong></p>
                    <p>And, that exactly is what SEO is all about – Optimising your website for the search engines like Google (the most important one), Bing, Yahoo etc. to index you and show your website when people key in queries specific to your industry (in this case the best pen stores in X, or Where can I buy luxury pens, how can I buy luxury pens, etc.)</p>
                    <p><strong>Image</strong></p>
                    <p>In the above screenshot, while, the first 2 results are sponsored results or google ads the next results are known as ‘organic results’ and your aim should always be to rank on the first page amongst the top organic results.  So that people can easily find you and come to your store.</p>
                    <p>However, one of the critical aspects is to make sure that you rank for the right queries, so that you reach out to your customers who are looking for ‘Luxury pens’ for writing and not someone who is looking for ‘pen’ to keep their pigs.</p>
                    <p>Therefore, it is important to rank for the right ‘keyword’ ( a word/phrase which a visitor may type in the Google search bar to look for information).</p>
                    <p>Why is it so critical to make sure that your website rank amongst the top search results?</p>
                    <p>Simply because – , As the popular SEO joke goes – If you have to hide a dead body, hide it on the second page of SERP.</p>
                    <p>So, if you are not ranking on the first page, it is as good as not ranking at all.</p>
                    <h2><strong>So, what does it takes to get to the top of the Search Engine Results Page (SERP)?</strong></h2>
                    <p>We took 2 million random keywords and pulled data on the Top10 ranking pages for each of them. Which resulted in this beautiful graph:</p>
                    <img src="images/Overview/Overview/seo-img1.jpg">
                    <p></p>

                    <p>To answer this question, we randomly selected 2 million pages that were first seen by Ahrefs crawler a year ago.</p>
                    <p>We then tracked the position history of each page for any keyword it’s ranked for.</p>
                    <p>Which resulted in this graph:</p>
                    <p></p>
                    <img src="images/Overview/seo-img2.jpg">
                    <p>Only 5.7% of all studied pages ranked in the Top10 search results within 1 year for at least 1 keyword.</p>
                    <p>Pages from websites with a high Domain Rating (DR) performed way better than those with a low DR. Which shouldn’t come as a surprise, because Ahrefs’ Domain Rating metric (shows the strength of a website’s backlink profile) correlates well with Google rankings.</p>
                    <p>We then zoomed into these 5.7% of “lucky” pages to see how quickly they got from nowhere to the Top10.</p>
                    <p>The majority of them managed to achieve that in approximately 61 to 182 days.</p>
                    <p></p>
                    <img src="images/Overview/seo-img3.jpg">
                    <h2><strong>How does a search Engine(SEO) works:</strong></h2>
                    <p></p>
                    <div class="wrapper-mob">
                        <div class="inner-wrap-mob">
                            <strong>The crawling</strong>

                            <p></p>
                            <p>Search engine is also known as a crawler or spider because it crawls through all the websites and links available in the universe of world wide web, and indexes them.</p>
                            <p><strong>Search result generation</strong></p>
                            <p>
                                Once a search query is generated, it is sent to various data centers, once a data centre accepts the results search results are generated.
                                <br> Google has many data centers across the world. Since more and more searches are local in nature these data centres help in generating relevant results.
                            </p>
                            <p><strong>What is the page where results are generated called</strong></p>
                            <p>This page is known as SERP : Search Engine Results Page.</p>
                            <p><strong>What kind of results are generated when a query is entered</strong></p>
                            <p>There are two kinds of results which are generated :</p>
                            <p>
                                <strong>1) Organic results:</strong>
                                <br> By default there will be 10 organic results generated, this can be modified in the settings to 100 if required. (Tamper Monkey is one such tool to help you do that)
                            </p>
                            <p>
                                <strong>2) Paid results:</strong>
                                <br> These are the ads displayed mostly, on top and left of the SERP. These are Google ads.
                            </p>
                        </div>

                        <center>
                            <iframe src="https://www.youtube.com/embed/BNHR6IQJGZs" width="600" height="350" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </center>




                    </div>



                    <p><strong style="font-size:24px;color:#60c1d9">What are the good practices to have ones web page displayed on the top of a search engine</strong></p>
                    <p><strong>Create a search engine friendly website</strong></p>
                    <p>Creating a search engine friendly website is the most important step to have a good SEO optimised site and feature in first few searches of the SERP</p>
                    <p><strong>Here are couple of tips to help you create a SEO optimised website :</strong></p>
                    <p><strong>Create indexable content</strong></p>
                    <p>Most of the content on your website should be in HTML text format, since other formats like JAVA, flash, images etc. basically the non-text elements are not indexed by the search engines. Tools like , SEO-browser.com, and the MozBar help you see your website like the search engines do.</p>
                    <p><strong>Create a crawler link structures</strong></p>
                    <p>Having crawlable content on your website is great, however the you have to provide search engines with proper navigation, for them to do so.</p>
                    <p>This is where ‘crawlable link structures’ come into play.</p>
                    <p><strong>Here is a bad example of a link structure:</strong></p>

                    <div class="wrapper-mob">
                        <img src="images/Overview/seo-img4.jpg">
                        <div class="inner-wrap-mob">


                            <p>In the above image while Google can reach you home page and the page B and E, it has no way to reach the subsequent pages, simply because nothing links to them. And while, you might have great content on these pages, google will never come to know of it.</p>
                        </div>
                    </div>
                    <p><strong>Once you have got the basic website right here is a basic process you must follow:</strong></p>
                    <h2>[Infographic]- SEO Process</h2>
                    <img src="images/Overview/seo-img5.jpg">
                    <p></p>

                    <p>&nbsp;</p>
                    <h3><strong>3) Ofcourse… </strong>Keyword Research &amp; O<strong>ptimisation</strong></h3>
                    <p>Matching keywords to consumer behaviour. Using the relevant keywords in your website which are mostly searched will help your website being found in the SERP. Content optimisation is a continuous process and the website has to be updated on a regular basis to make sure that the websites is there on the first few searches of the SERP consistently.</p>
                    <p>One of the best ways to do so is to add a blog section on your website and keep updating it with relevant content frequently.</p>
                    <p>However, there is a difference between ‘optimising with keywords’ and ‘over stuffing with keywords’ it is important ti stay away from the latter, Google is smart and knows when you are over stuffing your website with keywords without really giving any quality keywords.</p>
                    <p>Below infographic will explain in detailed way to do keyword research and optimization.</p>
                    <img src="images/Overview/seo-img6.jpg">

                    <p>And therefore, the concept of using semantic keywords comes into play. Google is now uses  to index websites.</p>
                    <p>Tools like Google’s Keyword Planner, SEM Rush, Uber Suggest, Spyfu etc. are some tools to help you with your results.</p>
                    <h3>4) SEO – On-page optimisation</h3>
                    <p></p>
                    <center>
                        <iframe src="https://www.youtube.com/embed/EceSgY9bDnc" width="600" height="350" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </center>In simple words on-page optimisation is using best practices inside your website pages to up the quality of your website and giving enough reasons to the search engines to rank you higher
                    <p></p>
                    <p><strong>Below are some basics to do so:</strong></p>
                    <p style="padding:0">1) Keyword optimisation</p>
                    <p style="padding:0">2) Optimising Title tags – the headlines which d=google displays while showing up your website. Here is an eg:</p>
                    <p style="padding:0">3) Alt tags – search engines cannot read image files. Therefore, it is important to make sure you name your image properly. In simple words refrain from naming your images like – AXVY.jpeg or somerandomwords.jpeg.</p>
                    <p style="padding:0">4) Using relevant header tags, meta tags, meta descriptions etc.</p>
                    <p style="padding:0">5) URL optimsation – use keywords in urls. Make sure none of the pages in your website has the urls https://yourcopmany.com/##%%% make it https://yourcompany/productcategory.com or https;//yourcompany/resources/blogs.com</p>
                    <p style="padding:0">Also fix, all the broken links on your site.</p>
                    <p style="padding:0">6) Using Anchor texts – link pages in your website through relevant keywords.</p>
                    <h3>5) SEO – Off-page optimisation</h3>


                    <p>
                        <strong>Backlinking: building authority via links</strong>
                        <br> Backlinking is a important component of SEO. It is the process of hyperlinking your website through other high authority webpages. This is where, syndicating your content in form of republishing blog posts or cross posting or guest blogging plays an important role.
                    </p>
                    <p>
                        <strong>Social Media</strong>
                        <br> Being present on the social media platforms is an important part of SEO. In fact, slowly it is becoming more popular than back-linking.
                    </p>
                    <p>The intention is to provide a prism through which you can more easily categorize your efforts and a framework by which you can make those efforts a reality.</p>
                    <strong style="font-size:24px;">The 8 elements of good off-page SEO</strong>
                    <img src="images/Overview/seo-img7.jpg">
                    <p></p>

                    <h3>6) How To Measure SEO Results</h3>



                    <p><strong>Referral traffic</strong></p>
                    <img src="images/Overview/result-section4part.png">

                    <p><strong>Brand impact</strong></p>
                    <img src="images/Overview/result-section9part.png">


                    <p><strong>Link-building KPIs</strong></p>

                    <img src="images/Overview/result-section6part.png">

                    <p><strong>Lead generation KPIs</strong></p>
                    <img src="images/Overview/result-section7part.png">


                    <p>Strategic understanding builds trust</p>



                    <h3>7) Monitor results and improvise</h3>
                    <p>It goes without saying that you will have to continuously monitor your results and improvise for that;</p>
                    <p style="padding:0">1) Identify the most important metrics you would want to track, it would depend on the kind of website yours is. For e.g. if you are an e -commerce website setting up a goal conversion might be important for you (which can be a visitor checkout form and reaching a thank you page) but if you are a service based company this might not be that critical.</p>
                    <p style="padding:0">2) Put a template in place – so that you don’t have to struggle with creating reports from the scratch every time.</p>
                    <p style="padding:0">3) Track your results weekly</p>
                    <p style="padding:0">4) Also have a system of monthly and YoY tracking.</p>
                    <h2>What are the popular types and categories of searches and SEOs?</h2>
                    <p>Different users search information on the web, with various intents. Search engines are smart enough to analyse the query a user inputs and basis that populates results. Basis various researches across the web the SEO experts identify these searches into various categories, these are:</p>
                    <p style="padding:0">
                        <strong class="buttons-nav-sec-below">Navigational</strong>

                        <strong class="buttons-nav-sec-below">Informational</strong>

                        <strong class="buttons-nav-sec-below">Transactional</strong>
                    </p>
                    <h3>1)Navigational searches:</h3>
                    <p>
                        These are the searches aimed at reaching a particular website. For instance if you want to shop for a ‘Red Jacket’ on Amazon. Either you will
                        <br> A- Got to the search bar and type www.amazon.com or B- You will type ‘ Red Jacket Amazon’
                    </p>
                    <p>In either case you are sure of the website you would want to land to a specific website. According to a study more than 30% of queries on Bing and Yahoo are Navigational searches. How many times have you read an article on a X website and when you wanted to refer the article again what did you do?</p>
                    <p>In all probability you would have typed in the website name and the topic. Or just the website name – and then searched through the article on their site.</p>
                    <p>In any case ‘you must show up when your customer is looking for you’ if you don’t not just the traffic meant for your site will be credited to your competitions’, it’s definitely a put-off for your customer as well.</p>
                    <h3>2) Informational searches</h3>
                    <p>Aqs the name suggests informational searches are the searches, when a user is looking for a specific information. Almost 50-80% of searches done are informational searches. Google has made such searches easier for users by not just providing the exact answer you are looking for but also populating related questions which you might subsequently ask</p>
                    <p>Image</p>
                    <h3>3) Transactional searches</h3>
                    <p>As the name suggests – transactional searches are the searches are the queries which are asked with an intent to complete a transaction. For eg. ‘Shop for a Red jacket’ or ‘discount offers on iphones’ so on and so forth.</p>
                    <p>
                        For such searches using ‘Google Listings’ and sponsored ads helps.
                        <br> Apart from the above mentioned search types there SEO experts have identified other types of searches like:
                    </p>
                    <p>Ad hoc searches – searches where the user intent is to find as as many relevant documents related to a topic as possible. These can be subsets of informational searches.</p>
                    <p>Know-item searches: These are the searches when a user knows the information they are looking at the exact website. For eg. Gmail login page or official Game of Thrones site – are examples of know-item search.</p>
                    <p>Named searches: These are searches when people are looking for particular information on a particular website. One such search would be – [keyword phrase] site:www.example.com.</p>
                    <p><strong>Another way of categorising types of SEO is according the type tactics used for site optimisation these are:</strong></p>
                    <p style="padding:0">
                        <strong class="buttons-nav-sec-below">White hat</strong>

                        <strong class="buttons-nav-sec-below">Black hat</strong>

                        <strong class="buttons-nav-sec-below">and Grey hat</strong>
                    </p>
                    <h2>10 Stats to Justify SEO</h2>
                    <p>To help you understand the potential of SEO and justify your request for increased spending, Searchengineland compiled this list of 10 statistics that I find particularly compelling:</p>
                    <ol>
                        <li>There are over two billion people online</li>
                        <li>38 million of them are in the UK</li>
                        <li>31 million are actively shopping online</li>
                        <li>These customers spend hours online</li>
                        <li>People spend billions online</li>
                        <li>93% of online experiences begin with a search engine</li>
                        <li>Google dominates all</li>
                        <li>Customers click on top-ranking links</li>
                        <li>Britons are online on the go</li>
                        <li>41% of businesses are winning customers using social media</li>
                    </ol>
                    <h2>How to choose the perfect SEO companies for your website?</h2>
                    <p>Whether you have are start-up, and small-time business or an established MNC there is no denying the fact that you would need SEO muscle power to be at the top of your SEO game.</p>
                    <p>You might choose to build an internal team or hire a SEO companies (hyper link to your SEO listing page) Will depend on multiple factors like your</p>
                    <p style="padding:0">
                        <strong>1) Budgets</strong>
                        <br>
                        <strong>2) Timelines</strong>
                        <br>
                        <strong>3) Nature of your project etc.</strong>
                    </p>
                    <p>Whichever kind of resource you choose to go for – an internal team or a external SEO company, you must do it right.</p>
                    <p>A bad job at SEO can has long lasting implications which go way beyond SERP rankings. They affect your brand reputation and also revenues. Further, SEO is not a one-time job, as algorithms change at almost an everyday you have to keep at it consistently. Therefore, choosing the right technology partner becomes a critical task.</p>
                    <p>There are thousands of people out there who can do the job for you, but can you afford to take a blind pick at any one of them? You know the answer – Of Course not.</p>
                    <h3><strong>So here is a checklist and tips which will help you choose the right SEO company for your business.</strong></h3>
                    <p>First let’s take a look at the common mistakes people make while filtering out SEO companies:</p>
                    <p>1) Totally relying on Google to shortlist companies, It looks like that it’s common sense that a SEO company will do their SEO well, and hence whoever is ranking on the top is the best. Right? Wrong!</p>
                    <p>
                        A lot of great SEO companies may not rank on the top pages because they are doing the job for their clients and don’t really have enough resources and time to optimise their sites to the fullest. So if you rely only on Google you are surely to miss a lot of good companies.
                        <br> So, that is why here on Upvotes you just not get the listings of the SEO companies but you also get their ratings and the client reviews in the same place.
                    </p>
                    <p>And, since you are already here, you have made the right choice to not simply rely on Google’s SERP.</p>
                    <p>2) Blindly believing a ‘Sales pitch’ made by a company, If you rely 100% on a company’s ‘Pitch deck’ you are risking your project. There is a reason these extra-varnished decks are called ‘Pitch Deck’</p>
                    <p>So how do you search for the right SEO company which meets all your expectations?</p>
                    <p><strong>Here is a simple process which you can follow:</strong></p>
                    <p style="padding:0">
                        1) Set your expectations or Goals
                        <br> 2) Set your selection criteria
                        <br> 3 Shortlist 3-5 companies basis the above
                        <br> 4) List down the questions you would ask them.
                        <br> 5) Ofcourse – do a background check.
                    </p>
                    <p>So, let’s take a look at each of the above points in detail:</p>
                    <h3>1) Set your goals</h3>
                    <p>As mentioned earlier – SEO in not an one time job, it is an evergoing long term project. You can never really be done. So your goals also have to be long term, flexible and measurable. The goals will depend on the type of business you are into. For eg. You are an e-commerce website your goals can be:</p>
                    <p style="padding:0">
                        1) Ranking in the first page by the second month of website launched
                        <br> 2) Having X no of transactions per week/month
                        <br> 3) X % increase in traffic on the site MoM or X% increase in transactions MoM.
                    </p>
                    <p>These are long term goals, How will you evaluate success your agency in and decide if you have to revisit the agreement you have made?</p>
                    <p>For this you would need to set up short term goals for your agency which can be</p>
                    <p style="padding:0">
                        1) Ranking for the XYZ keywords in the first month.
                        <br> 2) Making sure you set tangible goals – can be no of backlinks you get, are you ranking above your competitors. Etc.
                    </p>
                    <h3>2) Set your selection criteria</h3>
                    <p>Once you have set your goals the next step is to set your selection criteria, which can be on the basis of</p>
                    <p style="padding:0">
                        1) How much budget you are willing to spend?
                        <br> 2) Are you looking for a small studio shop kind of a company or would you want a bigger set up with a key-account manager at least?
                        <br> 3) Geographical location – would you want someone in the same city as you are or you would be comfortable working with an offshore team?
                        <br> 4) What is the scope of your project – only SEO? Website development and SEO?
                        <br> 5) Is it a one-time project or a long-term project?
                    </p>
                    <p>Whatever is the nature of your project is it is advisable to onboard a partner on a short-term contract – at best 3 months, so that you can course correct in the right time.</p>
                    <h3>3) Shortlist 3-5 companies basis the above</h3>
                    <p>Once you have sorted out the make sure you don’t get into the problem of abundance. Yes there are numerable SEO companies out there. The more you look the more you find and the list will never end.</p>
                    <p>So make sure you shortlist at max five candidates before you choose the right one.</p>
                    <h3>4) List down the questions you would ask them.</h3>
                    <p>One you have the shortlist, make sure you know exactly what are you going toi ask them. Just don’t go by what they show you ask them tough and right questions.</p>
                    <p><strong>Some questions you might want to ask can be:</strong></p>
                    <p style="padding:0">
                        1) What kind of industries they have handled earlier?
                        <br> 2) Do they have any experience in your domain? If not what is their process of working in a new industry.
                        <br> 3) Technical expertise of the team which will be deployed for your project.
                        <br> 4) What kind of tangible results they have got for their clients. Do they have the data to show.
                        <br> 5) Last and most important – ask for client references of the clients they quote during their pitch, don’t just go by the case studies. If they have done good work for them they will be more than willing to share those.
                    </p>
                    <h3>5) Of Course – do a background check.</h3>
                    <p>No your job is not finished once they have made the pitch presentation. Get on your toes, use the references they have provided. LinkedIn is one of the right resource to get in touch will professional network. Send them a polite Inmail.</p>
                    <p>Also, check if you personally know someone who has worked with the vendor before. There is nothing like getting a feedback straight from the horse’s mouth.</p>
                    <p>If you don’t get any answers by the above two methods, call their board number and try to speak to the person who is responsible for the handling SEO vendors (Marketing Manager, Digital Manager etc.)</p>
                    <p>You can look at portals like ours where we provide with honest reviews and ratings about the vendors.</p>
                    <p>So now that you have got all the information about SEO and how to choose SEO companies.</p>
                    <h2>Go ahead start looking for the best SEO companies here. (Hyperlink your SEO page) All the best!</h2>
                </div>

            </div>

        </div>


        </div>