<div id="divCompanyFocus" class="tab-pane fade in ">
    <div class="company-profile">
        <div class="container">
            <div class="row focus-fields">
                <div class="col-md-6 col-sm-6">
                    <label for="txtDigitalMarketing">Digital Marketing:*</label>
                    <input type="hidden" id="hdnCompanyFocus_@focusArea.FocusAreaID" value="" />
                    <input type="text" class="form-control numericOnly" maxlength="3" id="txtFocus_@focusArea.FocusAreaID">
                    <span>%</span>
                </div>
            </div>
        </div>
    </div>
</div>
