<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <ul class="categories">
                    <li><a>CATEGORIES</a></li>
                    <li><a href="/mobile-application-developers">Mobile App Developement </a></li>
                    <li><a href="/web-development-companies">Web Developers</a></li>
                    <li><a href="/web-design-companies">Web Designers </a></li>
                    <li><a href="/digital-marketing-companies">Digital Marketing</a></li>
                    <li><a href="/seo-companies">SEO </a></li>
                    <li><a href="/software-development-companies">Custom Software Developers</a></li>
                    <li><a href="/ui-ux-agencies">UI/UX Designers</a></li>
                    <li><a href="/wearable-application-developers">Wearable App Developers</a></li>
                    <li><a href="/ecommerce-developers">Ecommerce Developers</a></li>
                    <li><a href="/social-media-marketing-companies">Social Media Agencies</a></li>
                    <li><a href="/ppc-companies">PPC Agencies</a></li>
                    <li><a href="/content-marketing-companies">Content Marketing Agencies</a></li>
                    <li><a href="/iot-application-developers">IOT App Developers</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="about-us">
                    <li><a>ABOUT US</a></li>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#" class="myLoginPopUp">Get Listed</a></li>
                    <li><a href="#">Why Upvotes.io</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="resources">
                    <li><a >RESOURCES</a></li>
                    <li><a href="/mobile-application-developers">Mobile App Developement </a></li>
                    <li><a href="/web-development-companies">Web Developers</a></li>
                    <li><a href="/web-design-companies">Web Designers </a></li>
                    <li><a href="/digital-marketing-companies">Digital Marketing</a></li>
                    <li><a href="/seo-companies">SEO </a></li>
                    <li><a href="/software-development-companies">Custom Software Developers</a></li>
                    <li><a href="/ui-ux-agencies">UI/UX Designers</a></li>
                    <li><a href="/wearable-application-developers">Wearable App Developers</a></li>
                    <li><a href="/ecommerce-developers">Ecommerce Developers</a></li>
                    <li><a href="/social-media-marketing-companies">Social Media Agencies</a></li>
                    <li><a href="/ppc-companies">PPC Agencies</a></li>
                    <li><a href="/content-marketing-companies">Content Marketing Agencies</a></li>
                    <li><a href="/iot-application-developers">IOT App Developers</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul class="contact">
                    <li><a>CONTACT</a></li>
                    <li><a href="mailto:support@upvotes.co"><i class="fa fa-envelope-o font-awesome-styling" aria-hidden="true"></i>support@upvotes.co</a></li>
                    @*<li><a href="#"><i class="fa fa-phone-square font-awesome-styling" aria-hidden="true"></i>+91 9008826876</a></li>*@
                    <li class="footnote-heading">
                        <a>Follow Us:</a>
                    </li>
                    <li>
                            <ul class="social-media-icons">
                                <li><a target="_blank" href="https://www.facebook.com/upvotes.co/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/company/upvotes/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/upvotes_co"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://plus.google.com/b/113394703777804526159/113394703777804526159"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/upvotes.co/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row end-footer">
            <ul class="privacy-links">
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="#">Trademarks</a></li>
            </ul>
            <p class="footnotes">Handcrafted by UpVote. Copyright &copy; 2017. All rights reserved</p>
        </div>

        @*<div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <h1>upvotes</h1>

                    <div class="modal-content upvote-modals">

                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                    </div>
                    <p class="modal-tagline">Log in or sign up for upvote</p>
                    <p class="modal-subtagline">Upvote is a place where experienced founders share advice to save each other time and money</p>
                    <div class="modal-buttons">
                        <button class="btn btn-info modal-buttons-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Log in with twitter</button>
                        <button class="btn btn-info modal-buttons-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i>Log in with LinkedIn</button>
                        <p>We will never post to either without your permission</p>
                        <input type="text" placeholder="User Name" class="form-control" id="usr">
                        <input type="Password" placeholder="Password" class="form-control" id="usr">
                        <button class="btn btn-info modal-buttons-twitter login-modal">Log in</button>

                    </div>

                </div>
            </div>*@
        </div>
    </footer>
