@using System.Configuration
@using UpVotes.BusinessEntities.Entities

    <footer class="footer teal-banner">
        <div class="container">
            <div class="row">
                <div class="col col-xl-4 col-sm-12">
                    <div class="single-footer-widget">
                        <div class="logo">
                            <a href="@ConfigurationManager.AppSettings["WebBaseURL"].ToString()" class="navbar-brand">
                                Upvotes
                                <img src="~/images/upvotes-logo.png" alt="Upvotes" title="Upvotes">
                            </a>
                        </div>
                        <p class="caption">Upvotes is your community to finding the best B2B agencies, categorized by their areas of expertise.</p>
                        <ul class="social">
                            <li><a target="_blank" href="https://www.facebook.com/upvotes.co/"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/upvotes/"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/upvotes_co"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a target="_blank" href="https://plus.google.com/b/113394703777804526159/113394703777804526159"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/upvotes.co/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-xl-2 col-sm-6 col-12">
                    <div class="single-footer-widget">
                        <h6 class="title">About Us</h6>
                        <ul>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#" class="myLoginPopUp">Get Listed</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-xl-2 col-sm-6 col-12">
                    <div class="single-footer-widget">
                        <h6 class="title">Providers</h6>
                        <ul>
                            <li><a href="/all-categories?section=service" target="_blank">For Service Providers</a></li>
                            <li><a href="/all-categories?section=software" target="_blank">For Software Providers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-xl-2 col-sm-6 col-12">
                    <div class="single-footer-widget">
                        <h6 class="title">Resources</h6>
                        <ul>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Startups</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-xl-2 col-sm-6 col-12">
                    <div class="single-footer-widget">
                        <h6 class="title">Contact Us</h6>
                        <ul>
                            <li><a href="mailto:support@upvotes.co">support@upvotes.co</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-12">
                    <p class="copyright"> Handcrafted by Upvote.co Copyright &copy; 2019. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade login" id="myModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <!-- Card Loader -->
                <div id="ajax_loader" class="card-loader"></div><!-- If add "show" class loader will appear -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="bg-banner"></div>
                <div class="modal-body">
                    <div class="form-wrap">
                        <div class="login-wrap">
                            <h4 class="title-medium">User Account</h4>
                            <ul class="social">
                                <li class="label">Login with</li>
                                <li><a id="btnlinkedin"><i class="fa fa-linkedin bg-dark-blue"></i></a></li>
                                <li><a id="btnTwitter"><i class="fa fa-twitter bg-light-blue"></i></a></li>
                            </ul>
                            <p>Or Don't have an account? <span>Sign in with Upvotes Account</span></p>
                            <label>Login with your assigned work e-mail address.</label>
                            <form>
                                <div class="form-group input-medium">
                                    <input type="email" class="form-control input-txt" aria-describedby="emailHelp" id="txtWorkEmailId" placeholder="Work Email id">
                                </div>
                                <div class="form-group input-medium error">
                                    <input type="password" class="form-control input-txt" id="txtPassword" placeholder="Password">
                                    <span id="errValidWorkEmail" class="error-text" style="display:none;">
                                        Enter valid Work Email ID & Password
                                    </span>
                                </div>
                                <div class="action float-left">
                                    <a id="btnForgetPass" class="float-left" href="#">Forgot password?</a>
                                    <button type="button" id="btnLogin" class="btn btn-info btn-lg btn-blue btn-login float-right">login</button>
                                </div>
                            </form>
                        </div>
                        <div class="pass-wrap hide">
                            <h4 class="title-small">Can't sign in? <br>Forget your password ?</h4>
                            <p>Enter your email address and will send password reset link.</p>
                            <form>
                                <div class="form-group input-medium">
                                    <input type="email" class="form-control input-txt" id="txtloginEmailForget" aria-describedby="emailHelp" placeholder="Enter your email address">
                                    <span id="errValidWorkEmail1" class="error-text" style="display:none;">
                                        Enter valid Work Email ID
                                    </span>
                                    <div id="dvforgotpwd" style="display:none;">
                                        <span class="success-text">
                                            Your new password has been emailed to you.
                                        </span>
                                    </div>
                                </div>
                                <div class="action float-left">
                                    <button type="button" id="btnForgotPwd" class="btn btn-info btn-lg btn-blue btn-login">Send password</button>
                                    <a id="btnBackLogin" class="float-right back" href="#">Back to login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="banner">
                        <h4 class="title-large">Welcome.</h4>
                        <p>Upvotes.co is the B2B community to help you find the top most Mobile App Development, Web Development, Software Development & eCommerce Development, Digital Marketing Agencies, SEO Companies across the globe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Session["UserObj"] != null)
    {
        UserEntity userObj = Session["UserObj"] as UserEntity;
        if (userObj != null && (userObj.UserType == 1 || userObj.UserType == 4))
        {
            <div class="modal fade login" id="myModalChangePwd" tabindex="-1" role="dialog" aria-labelledby="ChangeModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <!-- Card Loader -->
                        <div id="ajax_loaderchng" class="card-loader"></div><!-- If add "show" class loader will appear -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="bg-banner"></div>
                        <div class="modal-body">
                            <div class="form-wrap">
                                <div class="login-wrap">
                                    <h4 class="title-small">Change Password</h4>

                                    <div class="form-group input-medium error">
                                        <input type="password" class="form-control input-txt" id="txtCurrPassword" placeholder="Current Password">
                                    </div>
                                    <div class="form-group input-medium">
                                        <input type="password" class="form-control input-txt" id="txtNewPassword" placeholder="New Password">
                                    </div>
                                    <div class="form-group input-medium">
                                        <input type="password" class="form-control input-txt" id="txtConNewPassword" placeholder="Confirm Password">
                                    </div>
                                    <div>
                                        <span id="errValidChangepwd" class="error-text"></span>
                                        <div id="dvchangepwd" style="display:none;">
                                            <span id="MsgChangePwd" class="success-text">
                                            </span>
                                        </div>
                                    </div>                                    
                                    <div class="action float-left">
                                        <button id="btnChangePwd" class="btn btn-info btn-lg btn-blue btn-login float-right">Submit</button>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $("#btnChangePwd").click(function () {
                                                if ($.ValidateChangePassword()) {
                                                    $.ChangePassword($('#txtCurrPassword').val(), $('#txtNewPassword').val());
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="banner">
                                <h4 class="title-large">Welcome.</h4>
                                <p>Upvotes.co is the B2B community to help you find the top most Mobile App Development, Web Development, Software Development & eCommerce Development, Digital Marketing Agencies, SEO Companies across the globe.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
