@using System.Configuration

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-green megamenu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo">
                <a href="@ConfigurationManager.AppSettings["WebBaseURL"].ToString()" class="navbar-brand">
                    Upvotes
                    <img src="~/images/upvotes-logo.png" alt="Upvotes" title="Upvotes">
                </a>
            </div>
            <button id="open-menu" class="navbar-toggler open-menu" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a href="#" class="btn-close"><i class="fas fa-times"></i></a>
                <div class="nav-inner">
                    <ul class="navbar-nav mr-auto menu menu-bottom">
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">For Service category <span class="caret"></span></a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-12 menu-banner bg-teal">
                                            <h4 class="title">For Service category</h4>
                                            <p class="caption">
                                                Explore top services providers across industries to find the right agencies for your business.
                                            </p>
                                            <a href="/all-categories?section=service" target="_blank" class="btn flat-white">Browse All Categories</a>
                                        </div>
                                        <div class="col-lg-9 col-sm-12 menu-list">
                                            <ul>
                                                <li><a href="/mobile-application-developers">Mobile App Developement </a></li>
                                                <li><a href="/web-development-companies">Web Developers</a></li>
                                                <li><a href="/web-design-companies">Web Designers </a></li>
                                                <li><a href="/digital-marketing-companies">Digital Marketing Agencies</a></li>
                                                <li><a href="/seo-companies">SEO Agencies</a></li>
                                                <li><a href="/software-development-companies">Custom Software Developers</a></li>
                                                <li><a href="/ui-ux-agencies">UI/UX Designers</a></li>
                                                <li><a href="/wearable-application-developers">Wearable App Developers</a></li>
                                                <li><a href="/ecommerce-developers">Ecommerce Developers</a></li>
                                                <li><a href="/social-media-marketing-companies">Social Media Agencies</a></li>
                                                <li><a href="/ppc-companies">PPC Agencies</a></li>
                                                <li><a href="/content-marketing-companies">Content Marketing Agencies</a></li>
                                                <li><a href="/iot-application-developers">IOT App Developers</a></li>
                                                <li><a href="/mobile-app-marketing-agencies">Mobile App Marketing Agencies</a></li>
                                                <li><a href="/email-marketing-agencies">Email Marketing Agencies</a></li>
                                                <li><a href="/sem-agencies">Sem Agencies</a></li>
                                                <li><a href="/branding-agencies">Branding Agencies</a></li>
                                                <li><a href="/pr-agencies">PR Agencies</a></li>
                                                <li><a href="/digital-strategy-agencies">Digital Strategy Agencies</a></li>
                                                <li><a href="/video-production-agencies">Video Production Agencies</a></li>
                                                <li><a href="/chatbot-development">Chatbot Development</a></li>
                                                <li><a href="/ar-vr-application-development">AR VR Application Developers</a></li>
                                                <li><a href="/graphic-designers">Graphic Designers</a></li>
                                                <li><a href="/human-resources-companies">Human Resources</a></li>
                                                <li><a href="/blockchain-developers">Blockchain Developers</a></li>
                                                <li><a href="/software-testing-companies">Application Testing</a></li>
                                                <li><a href="/logo-design-agencies">Logo Design Agencies</a></li>
                                                <li><a href="/print-design-agencies">Print Design Agencies</a></li>
                                                <li><a href="/product-design-agencies">Product Design Agencies</a></li>
                                                <li><a href="/packaging-design-agencies">Packaging Design Agencies</a></li>
                                                <li><a href="/affiliate-marketing-agencies">Affiliate Marketing Agencies</a></li>
                                                <li><a href="/artificial-intelligence-companies">Artificial Intelligence</a></li>
                                                <li><a href="/cloud-consulting-companies">Cloud Consultants</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">For Software Category <span class="caret"></span></a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-3 menu-banner bg-teal">
                                            <h4 class="title">For Software category</h4>
                                            <p class="caption">
                                                Explore top software providers across industries to find the right software for your business.
                                            </p>
                                            <a href="/all-categories?section=software" target="_blank" class="btn flat-white">Browse All Categories</a>
                                        </div>
                                        <div class="col-sm-9 menu-list">
                                            <ul>
                                                <li><a href="/mobile-app-softwares">Mobile App Softwares</a></li>
                                                <li><a href="/marketing-softwares">Marketing Softwares</a></li>
                                                <li><a href="/seo-softwares">SEO Softwares</a></li>
                                                <li><a href="/social-media-softwares">Social Media Softwares</a></li>
                                                <li><a href="/content-marketing-softwares">Content Marketing Softwares</a></li>
                                                <li><a href="/app-design-softwares">App Design Softwares</a></li>
                                                <li><a href="/cms-softwares">CMS Softwares</a></li>
                                                <li><a href="/ecommerce-softwares">Ecommerce Software</a></li>
                                                <li><a href="/email-marketing-softwares">Email Marketing Softwares</a></li>
                                                <li><a href="/game-development-softwares ">Game Development Softwares </a></li>
                                                <li><a href="/graphic-design-softwares">Graphic Design Softwares</a></li>
                                                <li><a href="/iot-softwares">Iot Softwares</a></li>
                                                <li><a href="/artificial-intelligence-softwares">Artificial Intelligence Softwares</a></li>
                                                <li><a href="/data-visualization-softwares">Data Visualization Softwares</a></li>
                                                <li><a href="/inventory-management-softwares">Inventory Management Softwares</a></li>
                                                <li><a href="/accounting-softwares">Accounting Softwares</a></li>
                                                <li><a href="/workflow-management-softwares">Workflow Management Softwares</a></li>
                                                <li><a href="/crm-softwares">CRM Softwares</a></li>
                                                <li><a href="/business-intelligence-softwares ">Business Intelligence Softwares </a></li>
                                                <li><a href="/erp-softwares">ERP Softwares</a></li>
                                                <li><a href="/human-resource-softwares">Human Resource Softwares</a></li>
                                                <li><a href="/machine-learning-softwares">Machine Learning Softwares</a></li>
                                                <li><a href="/product-management-softwares">Product Management Softwares</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="#">Jobs Board</a></li>
                        <li><a class="nav-link" href="/contact-us">Contact Us</a></li>
                    </ul>
                    @using (Html.BeginForm("CustomSearch", "Search", FormMethod.Get, new { @class = "form-inline mt-2 mt-md-0 head-search" }))
                    {                    
                        <input class="form-control mr-sm-2 search" name="Query" id="txtSearch" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn mr-sm-2 btn-search" id="btnsubmit" type="submit"><i class="fa fa-search"></i></button>                    
                    }
                    @Html.Partial("~/Views/Login/_Login.cshtml")
                </div>
            </div>
        </div>
    </nav>
</header>
<script>
 $(document).ready(function () {    
    BindControls();
    });
 
    function BindControls() {
        $("#txtSearch").autocomplete({
            source: function (request, response) {                
                var val = request.term;
                var url = "https://www.googleapis.com/customsearch/v1?key=AIzaSyA3tJYNRSNnN0nn_3fpJXT0oDKvhFhMO3g&cx=012368038156981668892:5yuvduuxjvg&q=" + val + "&callback=?";
                
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        if (data.items != undefined) {
                            response($.map(data.items, function (item) {
                                return { label: $($.parseHTML(item.htmlTitle)).text(), value: $($.parseHTML(item.htmlTitle)).text() }
                            }))
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },            
            minLength: 1   
        });
    }

</script>