@using System.Configuration
<header>
    <style>       .dropdown-menu>li>a {
            color:#333 !important;
        }
    </style>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand Logo-main-page" href="@ConfigurationManager.AppSettings["WebBaseURL"].ToString()"></a>
@using (Html.BeginForm("CustomSearch", "Search", FormMethod.Get, new { @class = "navbar-left header-search" }))
{
                
                    <div class="input-group">
                        <input type="text" name="Query" id="txtSearch" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="btnsubmit" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                
}
                @Html.Partial("~/Views/Login/_Login.cshtml")

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">APP DEVELOPERS<span class="head-caret caret"></span></a>
                        <ul class="dropdown-menu header-pop-down">
                            <li class=""><a href="/mobile-application-developers">Mobile App Developers</a></li>
                            <li><a href="/wearable-application-developers">Wearable App Developers</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">WEB DEVELOPERS<span class="head-caret caret"></span></a>
                        <ul class="dropdown-menu header-pop-down">
                            <li><a href="/web-design-companies">Web Designers</a></li>
                            <li><a href="/ui-ux-agencies">UI/UX Designers</a></li>
                            <li><a href="/web-development-companies">Web Developers</a></li>
                            <li><a href="/ecommerce-developers">Ecommerce Developers</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">MARKETING AGENCIES<span class="head-caret caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/digital-marketing-companies">Digital Agencies</a></li>
                            <li><a href="/seo-companies">SEO Agencies</a></li>
                            <li><a href="/social-media-marketing-companies">Social Media Agencies</a></li>
                            <li><a href="/ppc-companies">PPC Agencies</a></li>
                            <li><a href="/content-marketing-companies">Content Marketing Agencies</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">SOFTWARE DEVELOPERS<span class="head-caret caret"></span></a>
                        <ul class="dropdown-menu header-pop-down">
                            <li><a href="/software-development-companies">Custom Software Developers</a></li>
                            <li><a href="/iot-application-developers">IOT App Developers</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
 $(document).ready(function () {    
    BindControls();
    });
 
    function BindControls() {
        $("#txtSearch").autocomplete({
            source: function (request, response) {                
                var val = request.term;
                var url = "https://www.googleapis.com/customsearch/v1?key=AIzaSyA3tJYNRSNnN0nn_3fpJXT0oDKvhFhMO3g&cx=012368038156981668892:5yuvduuxjvg&q=" + val + "&callback=?";
                
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        if (data.items != undefined) {
                            response($.map(data.items, function (item) {
                                return { label: $($.parseHTML(item.htmlTitle)).text(), value: $($.parseHTML(item.htmlTitle)).text() }
                            }))
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });

            },            
            minLength: 1   
        });
    }

</script>
<style>
    .ui-widget.ui-widget-content {
     width: auto !important;
}
</style>