
@{
    ViewBag.Title = "Pricing Plan";
}


 <div class="main-inner">
    <!-- add service profile section -->
    <div class="row" id="addServiceProfileSection">
        <div class="col-xl-12 col-md-12 col-sm-12 title-wrap">
            <h2 class="title-small">Pricing Plan</h2>
        </div>

        <div class="col-xl-12">
            <section class="section-wrap">
                <div class="tab-wrap primary">
                    <div class="tab-content package-wrap">
                        <div class="container">
                            <div class="row">
                                <div class="item col-xl-4 col-sm-12">
                                    <div class="package-item">
                                        <div class="heading">Bronze ($150)<span>Per Month</span></div>
                                        <div class="submit top" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                                        <div class="title">Items</div>
                                        <ul>
                                            <li><i class="fa fa-check yes"></i><span>Free Company profile</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Listing above Free (Categories, Locations)</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Review submission</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Eligibility to submit a guest post</span></li>
                                            <li><i class="fa fa-times no"></i><span>Mention in Press realease</span></li>
                                            <li><i class="fa fa-times no"></i><span>Featured on home Page</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to post on job board</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to update team members list</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to update Company News</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Badge Access</span></li>
                                            <li><i class="fa fa-times no"></i><span>Banners Ads on Newsletter</span></li>
                                            <li><i class="fa fa-times no"></i><span>Content marketing through PR &amp; Social media</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Premium Support</span></li>
                                        </ul>
                                        <div class="submit"></div>
                                    </div>
                                </div>
                                <div class="item col-xl-4 col-sm-12">
                                    <div class="package-item">
                                        <div class="heading">Silver ($300)<span>Per Month</span></div>
                                        <div class="submit top" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                                        <div class="title">Items</div>
                                        <ul>
                                            <li><i class="fa fa-check yes"></i><span>Free Company profile</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Listing above Free (Categories, Locations)</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Review submission</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Eligibility to submit a guest post</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Mention in Press realease</span></li>
                                            <li><i class="fa fa-times no"></i><span>Featured on home Page</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to post on job board</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to update team members list</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to update Company News</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Badge Access</span></li>
                                            <li><i class="fa fa-times no"></i><span>Banners Ads on Newsletter</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Content marketing through PR &amp; Social media</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Premium Support</span></li>
                                        </ul>
                                        <div class="submit"></div>
                                    </div>
                                </div>
                                <div class="item col-xl-4 col-sm-12">
                                    <div class="package-item">
                                        <div class="heading">Gold ($500)<span>Per Month</span></div>
                                        <div class="submit top" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                                        <div class="title">Items</div>
                                        <ul>
                                            <li><i class="fa fa-check yes"></i><span>Free Company profile</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Listing above Free (Categories, Locations)</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Review submission</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Eligibility to submit a guest post</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Mention in Press realease</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Featured on home Page</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to post on job board</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to update team members list</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Free access to update Company News</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Badge Access</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Banners Ads on Newsletter</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Content marketing through PR &amp; Social media</span></li>
                                            <li><i class="fa fa-check yes"></i><span>Premium Support</span></li>
                                        </ul>
                                        <div class="submit"></div>
                                    </div>
                                </div>
                                <div class="info">For more information on the pricing plans, please contact:<a href="mailto: support@upvotes.co">support@upvotes.co</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
