@model UpVotes.BusinessEntities.Entities.CompanyPortFolioEntity

<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script>$('.date-control input').datepicker();</script>

<div class="alert alert-danger hide" id="divFailureMessage">
    <strong>ERROR!!</strong>
    <span id="spnMessage">Fields marked with * are mandatory.</span>
</div>

<div class="main-inner">

    <!-- add software profile section -->
    <div class="row" >
        <div class="col-xl-12 col-md-12 col-sm-12 title-wrap">
            <h2 class="title-small">Company Employees</h2>
        </div>

        <!-- add software service profile -->


        <div class="col-xl-12" id="addEmployeeSection">
            <section class="section-wrap">
                <div class="tab-wrap primary">
                    <div class="tab-content">
                        <b>Add team member to your company</b>
                        <br /><br />
                        <div class="form-group row">
                            <label for="input1" class="col-xl-3 col-md-3 col-sm-12 col-form-label">Company Name<small class="manditory">*</small></label>
                            <div class="col-xl-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control" id="input1" placeholder="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-3 col-md-3 col-sm-12">
                                Member Logo
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-12 input-group">
                                <div class="custom-file v1">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12">
                                            <label class="btn-bs-file btn btn-primary">
                                                Add photo<input type="file" class="form-control">
                                            </label>
                                        </div>
                                        <div class="col-xl-12 col-md-12 col-sm-12">
                                            <div class="logo-preview">
                                                <img src="img/agencies1.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input1" class="col-xl-3 col-md-3 col-sm-12 col-form-label">Member Name<small class="manditory">*</small></label>
                            <div class="col-xl-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input1" class="col-xl-3 col-md-3 col-sm-12 col-form-label">Position<small class="manditory">*</small></label>
                            <div class="col-xl-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input1" class="col-xl-3 col-md-3 col-sm-12 col-form-label">Linkedin Profile</label>
                            <div class="col-xl-6 col-md-6 col-sm-12">
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input1" class="col-xl-3 col-md-3 col-sm-12 col-form-label">Start Date<small class="manditory">*</small></label>
                            <div class="col-xl-6 col-md-6 col-sm-12 date-control">
                                <input type="text" class="form-control">
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="input1" class="col-xl-3 col-md-3 col-sm-12 col-form-label">End Date<small class="manditory">*</small></label>
                            <div class="col-xl-6 col-md-6 col-sm-12 date-control">
                                <input type="text" class="form-control">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 empty-block">&nbsp;</div>
                            <div class="col-xl-12 col-md-12 col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary" id="saveCompanyEmployee">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
