

    @{
        ViewBag.Title = "My Employee List";
    }

<script src="~/Scripts/UserScripts/UserCompanyEmployee.js"></script>


    <div class="col-xl-12 col-md-12 col-sm-12 title-wrap">
        <h2 class="title-small">Company Portfolio</h2>
    </div>

    <div class="@(1 == 1 ? "main-inner hide": "main-inner")">
        <div class="col-xl-12 col-md-12 col-sm-12 text-center data-wrap no-data" id="divEmptyportfolioData">
            <!--Add class "hide" to hide the content -->
            <section class="section-wrap">
                <div class="jumbotron vertical-center">
                    <div class="caption">No company portfolio is not submitted yet "Add portfolio" to get update.</div>
                    <button type="submit" class="btn btn-primary btnaddPortFolio">Add Portfolio</button>
                </div>
            </section>
        </div>
    </div>


    <div class="@(1 == 1 ? "col-xl-12 col-md-12 col-sm-12 text-center data-wrap table-responsive-xl data-table" : "col-xl-12 col-md-12 col-sm-12 text-center data-wrap table-responsive-xl data-table hide")" id="tableEmployeeData">
    <!--Add class "hide" to hide the content -->
    <section class="section-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div>Voot</div></td>
                    <td><div>Emotional engineering designing</div></td>
                    <td><div><a class="link btnEditCompanyEmployee" >Edit</a> | <a class="link" data-toggle="modal" data-target="#deleteList" href="">Delete</a></div></td>
                </tr>
                
            </tbody>
        </table>
        <div class="col">&nbsp;</div>
        <div class="col text-center">
            <button type="button" class="btn btn-primary btn-md btnaddCompanyEmployee">Add Employee</button>
        </div>
    </section>
</div>

    <div class="modal" id="deleteList" tabindex="-1" role="dialog" aria-labelledby="deleteList" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close btnDeleteNo" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to delete this employee</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnDeleteNo" data-dismiss="modal">No</button>
                    <button type="button" id="btnDeleteYes" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

