
@{
    ViewBag.Title = "My Company List";
}

<script src="~/Scripts/UserScripts/UserSoftwareList.js"></script>
<!-- Company added list -->
<div class="col-xl-12 col-md-12 col-sm-12 title-wrap">
    <h2 class="title-small">Service Listing</h2>
</div>

    <div class="col text-center">
        <button type="button" id="addAdminSoftwareProfile" class="btn btn-primary btn-md">Add Software Profile</button>
    </div>
    <div class="col">&nbsp;</div>

<div class="col-xl-12 col-md-12 col-sm-12 text-center data-wrap table-responsive-xl data-table" id="softwarelist">
    <!--Add class "hide" to hide the content -->
    <section class="section-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Software ID</th>
                    <th>Software Name</th>
                    <th>User Verified</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td><input type="hidden" id="hdn_1" value="1" /><span>1</span></td>
                        <td><span><a class="link" href="/profile/">robosoft</a></span></td>
                        <td><span>Yes</span></td>
                        <td><span>Not Approved</span></td>
                        <td><a class="link btnEditSoftware" compname="roboso">Edit</a> | <a class="link">Delete</a></td>
                    </tr>
                <tr>
                    <td><input type="hidden" id="hdn_1" value="2" /><span>2</span></td>
                    <td><span><a class="link" href="/profile/">robosoft</a></span></td>
                    <td><span>Yes</span></td>
                    <td><span>Live</span></td>
                    <td><a class="link btnEditSoftware" compname="roboso">Edit</a> | <a class="link">Delete</a></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="hdn_1" value="1" /><span>1</span></td>
                    <td><span><a class="link" href="/profile/">info</a></span></td>
                    <td><span>Yes</span></td>
                    <td><span>Not Approved</span></td>
                    <td><a class="link btnEditSoftware" compname="roboso">Edit</a> | <a class="link">Delete</a></td>
                </tr>
               
            </tbody>
        </table>
    </section>
</div>