@model UpVotes.Models.DashboardViewModel
@using UpVotes.Utility;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>    
    @Styles.Render("~/Content/UserDashboard")
    @Scripts.Render("~/bundles/UserDashboard")
</head>
<body class="dashboard">
    <div id="ajax_loaderDashboard" class="card-loader"></div>
    <!-- Start Category -->
    <section class="list-wrap content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-3 side-bar">
                    <div class="side-inner">
                        <div class="title-wrap">
                            <h2 class="title-xsmall">Company Dashboard</h2>
                        </div>
                        <nav class="nav flex-column">
                            @if (Model.IsDashboard)
                            {
                                <a class="nav-link"><i class="fa fa-tachometer"></i> Dashboard</a>
                            }
                            <div class="sub-nav">
                                <a class="nav-link"><i class="fa fa-suitcase"></i> Manage Listing <i class="fa fa-chevron-down down-menu"></i></a>
                                <div class="sub-list">
                                    @*@Ajax.ActionLink(string.Format("<i class='fa fa-bars'></i> Service Listing"), "UserCompanyList1", "UserCompanyList", new { section="service" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "DetailsContent" }, new { @class = "nav-link" })*@
                                    @if (Model.IsService)
                                    {
                                        <a class="nav-link" id="ancServiceListing"><i class="fa fa-bars"></i> Service Listing</a>
                                    }
                                    @if (Model.IsSoftware)
                                    {
                                        <a class="nav-link" id="ancSoftwareListing"><i class="fa fa-bars"></i> Software Listing</a>
                                    }
                                </div>
                            </div>
                            @if (Model.IsJobListing)
                            {
                                <a class="nav-link"><i class="fa fa-user-plus"></i> Company Job Listing</a>
                            }
                            @if (Model.IsEmployees)
                            {
                                <a class="nav-link"><i class="fa fa-users"></i> Company Employees</a>
                            }
                            @if (Model.IsNews)
                            {
                                <a class="@(Model.section=="news" ? "nav-link active":"nav-link")" id="showAddUserNewsSection"><i class="fa fa-file-text"></i> Company News</a>
                            }
                            @if (Model.IsPortFolio)
                            {
                                <a class="nav-link"><i class="fa fa-bolt"></i> Company Portfolio</a>
                            }
                            @if (Model.IsReview)
                            {
                                <a class="nav-link"><i class="fa fa-commenting"></i> Company Reviews</a>
                            }
                            @if (Model.IsPricing)
                            {
                                <a class="nav-link"><i class="fa fa-usd"></i> Pricing Plans</a>
                            }
                            @if (Model.IsBadges)
                            {
                                <a class="nav-link"><i class="fa fa-certificate"></i> Badges</a>
                            }
                            <a onclick="closeSession()" class="nav-link"><i class="fa fa-sign-out"></i>Logout</a>
                        </nav>
                        @if (Model.IsAdmin)
                        {

                            <div class="manage-admin">
                                <div class="title-wrap">
                                    <h2 class="title-xsmall">Manage Admin</h2>
                                </div>
                                <nav class="nav flex-column">
                                    <a class="nav-link" id="showAddNewsSection"><i class="fa fa-file-text"></i> Add News</a>
                                    <a class="nav-link"><i class="fa fa-suitcase"></i> Add Jobs</a>
                                    <a class="nav-link" id="showClaimListingSection"><i class="fa fa-check"></i> Claim Listing</a>
                                </nav>
                            </div>
                        }
                    </div>
                </div>
                <div id="DetailsContent" class="col-xl-9 col-md-9 main-bar">
                    @if (Model.section == "news")
                    {
                        Html.RenderPartial("~/Views/Authenticated/Center/UserNews.cshtml", Model);
                    }
                </div>
            </div>
        </div>
    </section>
</body>
<!-- End Category -->
