
<div class="tab-content">

    <div id="overview" class="tab-pane fade in active">
        @if (Session["SubFocusAreaName"] != null && Session["SubFocusAreaName"].ToString() != "")
        {
            <div style="height:300px;width:auto; background: url(../../images/page_under_construction.jpg) no-repeat center;">
            </div>
        }
        else
        {
            <div style="height:300px;width:auto; background: url(../images/page_under_construction.jpg) no-repeat center;">
            </div>
        }

    </div>


</div>