@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sponsorship";
}
<head>
    @Scripts.Render("~/bundles/ContactUs")
</head>
			<!-- start banner Area -->
<section class="package-banner gap-large">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 no-padding">
                <div class="content">
                    <h1 class="title-medium">Sponsorship Packages</h1>
                    <p>
                        Upvotes offers best opportunity for your company to connect with many of potential clients from all across the globe. Join us as a sponsorship to power your company profile and get qualified prospects.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start Category -->
<section class="package-group">
    <div class="container">
        <div class="row package-wrap">
            <div class="item col-xl-4 col-sm-12">
                <div class="package-item">
                    <div class="heading">Bronze ($150)<span>Per Month</span></div>
                    <div class="submit top" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                    <div class="title">Items</div>
                    <ul>
                        <li><i class="fa fa-check yes"></i><span>Free Company profile</span></li>
                        <li><i class="fa fa-check yes"></i><span>Listing above Free (Categories, Locations)</span></li>
                        <li><i class="fa fa-check yes"></i><span>Review submission</span></li>
                        <li><i class="fa fa-check yes"></i><span>Eligibility to submit a guest post</span></li>
                        <li><i class="fa fa-times no"></i><span>Mention in Press realease</span></li>
                        <li><i class="fa fa-times no"></i><span>Featured on home Page</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to post on job board</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to update team members list</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to update Company News</span></li>
                        <li><i class="fa fa-check yes"></i><span>Badge Access</span></li>
                        <li><i class="fa fa-times no"></i><span>Banners Ads on Newsletter</span></li>
                        <li><i class="fa fa-times no"></i><span>Content marketing through PR &amp; Social media</span></li>
                        <li><i class="fa fa-check yes"></i><span>Premium Support</span></li>
                    </ul>
                    <div class="submit" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                </div>
            </div>
            <div class="item col-xl-4 col-sm-12">
                <div class="package-item">
                    <div class="heading">Silver ($300)<span>Per Month</span></div>
                    <div class="submit top" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                    <div class="title">Items</div>
                    <ul>
                        <li><i class="fa fa-check yes"></i><span>Free Company profile</span></li>
                        <li><i class="fa fa-check yes"></i><span>Listing above Free (Categories, Locations)</span></li>
                        <li><i class="fa fa-check yes"></i><span>Review submission</span></li>
                        <li><i class="fa fa-check yes"></i><span>Eligibility to submit a guest post</span></li>
                        <li><i class="fa fa-check yes"></i><span>Mention in Press realease</span></li>
                        <li><i class="fa fa-times no"></i><span>Featured on home Page</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to post on job board</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to update team members list</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to update Company News</span></li>
                        <li><i class="fa fa-check yes"></i><span>Badge Access</span></li>
                        <li><i class="fa fa-times no"></i><span>Banners Ads on Newsletter</span></li>
                        <li><i class="fa fa-check yes"></i><span>Content marketing through PR &amp; Social media</span></li>
                        <li><i class="fa fa-check yes"></i><span>Premium Support</span></li>
                    </ul>
                    <div class="submit" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                </div>
            </div>
            <div class="item col-xl-4 col-sm-12">
                <div class="package-item">
                    <div class="heading">Gold ($500)<span>Per Month</span></div>
                    <div class="submit top" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                    <div class="title">Items</div>
                    <ul>
                        <li><i class="fa fa-check yes"></i><span>Free Company profile</span></li>
                        <li><i class="fa fa-check yes"></i><span>Listing above Free (Categories, Locations)</span></li>
                        <li><i class="fa fa-check yes"></i><span>Review submission</span></li>
                        <li><i class="fa fa-check yes"></i><span>Eligibility to submit a guest post</span></li>
                        <li><i class="fa fa-check yes"></i><span>Mention in Press realease</span></li>
                        <li><i class="fa fa-check yes"></i><span>Featured on home Page</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to post on job board</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to update team members list</span></li>
                        <li><i class="fa fa-check yes"></i><span>Free access to update Company News</span></li>
                        <li><i class="fa fa-check yes"></i><span>Badge Access</span></li>
                        <li><i class="fa fa-check yes"></i><span>Banners Ads on Newsletter</span></li>
                        <li><i class="fa fa-check yes"></i><span>Content marketing through PR &amp; Social media</span></li>
                        <li><i class="fa fa-check yes"></i><span>Premium Support</span></li>
                    </ul>
                    <div class="submit" data-toggle="modal" data-target="#subscribeModal">subscribe</div>
                </div>
            </div>
        </div>
        <div class="row faq">
            <div class="col-xl-12">
                <div class="title-large">Frequently Asked Questions</div>
                <div class="content">
                    <ul>
                        <li>
                            <b>Is the sponsorship pricing for a single page listing?</b>
                            <p>The sponsorship cost mentioned are for the category with locations. We will provide you priority listing on multiple pages which include sub-cateogires & locations (Branches).</p>
                        </li>
                        <li>
                            <b>How the rankings are decided if there are multiple companies opting for the same sponsorship package?</b>
                            <p>If there are multiple companies who have opted for the same level of sponsorship level then their rankings will depend upon their top voting counts. A company having a higher votes score will be listed above the companies with lower votes score.</p>
                        </li>
                        <li>
                            <b>Will the ranking in the list change during the sponsorship tenure?</b>
                            <p>We do not promise the same ranking positions throughout the sponsorship tenure. It is subject to change if any other sponsor witha a higher level of sponsorship package or higher votes scores in a tenure period.</p>
                        </li>
                        <li>
                            <b>How can we cancel the subscription?</b>
                            <p>The sponsorship package will be considered active until we receive any communication from the company side regading the sponsorship cancellation. It is mandatory to cancel the subscription via email 3 days prior to your renewal date.</p>
                        </li>
                        <li>
                            <b>Is the amount paid recurring?</b>
                            <p>The sponsorship subscription package is not recurring from our end i.e. the amount will not be automatically deducted form your account until you explicitly renewal the subscription via email.</p>
                        </li>
                        <li>
                            <b>Is the sponsorship amount refundable?</b>
                            <p>The cost paid for sponsorship is non-refundable.</p>
                        </li>
                        <li>
                            <b>what are the payment methods?</b>
                            <p>As of now, we accept only via NEFT transfer.</p>
                        </li>
                        <li>
                            <b>Is there any trial period?</b>
                            <p>We do not provide any trial period.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="info">For more information on the pricing plans, please contact:<a href="mailto: support@upvotes.co">support@upvotes.co</a></div>
    </div>
</section>
<!-- End Category -->	

<div class="modal fade subscribe-modal" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="bg-banner"></div>
            <div class="modal-body">
                <div class="form-wrap">
                    <h4 class="title-small">Please do fill these informations</h4>

                        <div class="form-group input-medium">
                            <div class="form-group row">
                                <label for="input1" class="col-xl-5 col-md-5 col-sm-12 col-form-label">Full Name:<small class="manditory">*</small></label>
                                <div class="col-xl-7 col-md-7 col-sm-12">
                                    <input type="text" class="form-control" id="txtSponsorerName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input1" class="col-xl-5 col-md-5 col-sm-12 col-form-label">Company Name:<small class="manditory">*</small></label>
                                <div class="col-xl-7 col-md-7 col-sm-12">
                                    <input type="text" class="form-control" id="txtSponsorerCompanyName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input1" class="col-xl-5 col-md-5 col-sm-12 col-form-label">Email:<small class="manditory">*</small></label>
                                <div class="col-xl-7 col-md-7 col-sm-12">
                                    <input type="text" class="form-control" id="txtSponsorerEmail" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input1" class="col-xl-5 col-md-5 col-sm-12 col-form-label">Which Sponsership:<small class="manditory">*</small></label>
                                <div class="col-xl-7 col-md-7 col-sm-12">
                                    <select class="form-control" id="ddlSponsorship">
                                        <option value="0">--Select your package--</option>
                                        <option value="Bronze">Bronze</option>
                                        <option value="Silver">Silver</option>
                                        <option value="Gold">Gold</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input1" class="col-xl-5 col-md-5 col-sm-12 col-form-label">Describe:</label>
                                <div class="col-xl-7 col-md-7 col-sm-12">
                                    <textarea  class="form-control" id="txtSponsorerDescription" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="error">
                                <span id="errValidationMessage" class="error-text" style="">                                    
                                </span>
                            </div>
                        </div>
                        <div class="action float-right">
                            <button id="submitPlan" class="btn btn-lg btn-blue btn-login float-right">Submit</button>
                        </div>

                </div>
                <div id="subscribeThank" class="thank hide">
                    <b>Thank you</b>
                    <p>A member of our business development team will connect with you shortly.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="ajax_loaderSponsorer" class="card-loader"></div>
</div>
