<table>
    <thead>
        <tr>
            <td colspan="4" class="centerText-align"><div>Software Categories</div></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div><a target="_blank" href="/mobile-app-softwares">Mobile App Softwares</a></div></td>
            <td><div><a target="_blank" href="/marketing-softwares">Marketing Softwares</a></div></td>
            <td><div><a target="_blank" href="/seo-softwares">SEO Softwares</a></div></td>
            <td><div><a target="_blank" href="/social-media-softwares">Social Media Softwares</a></div></td>
        </tr>
        <tr>
            <td><div><a target="_blank" href="/content-marketing-softwares">Content Marketing Softwares</a></div></td>
            <td><div><a target="_blank" href="/app-design-softwares">App Design Softwares</a></div></td>
            <td><div><a target="_blank" href="/cms-softwares">CMS Softwares</a></div></td>
            <td><div><a target="_blank" href="/ecommerce-softwares">Ecommerce Software</a></div></td>
        </tr>
        <tr>
            <td><div><a target="_blank" href="/email-marketing-softwares">Email Marketing Softwares</a></div></td>
            <td><div><a target="_blank" href="/game-development-softwares ">Game Development Softwares </a></div></td>
            <td><div><a target="_blank" href="/graphic-design-softwares">Graphic Design Softwares</a></div></td>
            <td><div><a target="_blank" href="/iot-softwares">Iot Softwares</a></div></td>
        </tr>
        <tr>
            <td><div><a target="_blank" href="/artificial-intelligence-softwares">Artificial Intelligence Softwares</a></div></td>
            <td><div><a target="_blank" href="/data-visualization-softwares">Data Visualization Softwares</a></div></td>
            <td><div><a target="_blank" href="/inventory-management-softwares">Inventory Management Softwares</a></div></td>
            <td><div><a target="_blank" href="/accounting-softwares">Accounting Softwares</a></div></td>
        </tr>
        <tr>
            <td><div><a target="_blank" href="/workflow-management-softwares">Workflow Management Softwares</a></div></td>
            <td><div><a target="_blank" href="/crm-softwares">CRM Softwares</a></div></td>
            <td><div><a target="_blank" href="/business-intelligence-softwares ">Business Intelligence Softwares</a></div></td>
            <td><div><a target="_blank" href="/erp-softwares">ERP Softwares</a></div></td>
        </tr>
        <tr>
            <td><div><a target="_blank" href="/human-resource-softwares">Human Resource Softwares</a></div></td>
            <td><div><a target="_blank" href="/machine-learning-softwares">Machine Learning Softwares</a></div></td>
            <td><div><a target="_blank" href="/product-management-softwares">Product Management Softwares</a></div></td>
            <td><div>&nbsp;</div></td>
        </tr>
    </tbody>
</table>