
@{  
    ViewBag.Title = "404 Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Homecss")
<div class="mark-home-banner" style="background-image: url('/images/404-ErrorPage.jpg');height:600px;color:white;padding-top: 15%;">
    <div class="col-md-offset-1 col-lg-4 col-md-5 col-xs-7">
        <h1 class="heading">We’re Sorry.</h1>
        <h2 class="subheading">It appears we came up empty and couldn’t find what you were looking for.</h2>        
    </div>
</div>
