<div class="container subscriptcontainer">
    <div class="subscribe">
        <span>Subscribe to our newsletter:</span>
        <input type="text" placeholder="Leave your email here" class="form-control" id="usr">
        <button type="button" class="btn btn-default">Subscribe</button>
    </div>
</div>
