

<div class="row member-wrap">
    <div class="col-lg-12">
        <table>
            <thead>
                <tr>
                    <td><div>Member</div></td>
                    <td><div>Role</div></td>
                    <td><div>Period</div></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div><img class="lazy" data-src="/images/CompanyMembers/member1.jpg" /><span>Doug Ireland</span></div></td>
                    <td><div>VP of Finance</div></td>
                    <td><div>Apr 2013 to Present</div></td>
                </tr>
                <tr>
                    <td><div><img class="lazy" data-src="/images/CompanyMembers/member2.jpg" /><span>Nadjya Ghausi</span></div></td>
                    <td><div>VP of Finance</div></td>
                    <td><div>Aug 2016 to Present</div></td>
                </tr>
                <tr>
                    <td><div><img class="lazy" data-src="/images/CompanyMembers/member3.jpg" /><span>Spencer Waldron</span></div></td>
                    <td><div>European Regional Director</div></td>
                    <td><div>Unknown to Present</div></td>
                </tr>
            </tbody>
        </table>
        <div class="col text-right view-more">
            <span class="btn btn-link btn-sm">View more team member</span>
        </div>
    </div>
</div>
