
@{
    string meta = "<meta name='description' content='Upvotes is a B2B research and voting platform for leading development, design and marketing firms. Which type of firms are you looking for?' />";
    meta = meta + "<meta property='og:url' content='https://www.upvotes.co/' />";
    meta = meta + "<meta property='og:type' content='website' />";
    meta = meta + "<meta property='og:title' content='Upvotes - Voting Platform for Leading Development, Design and Marketing firms.' />";
    meta = meta + "<meta property='og:description' content='Upvotes is a B2B research and voting platform for leading development, design and marketing firms. Which type of firms are you looking for?' />";
    meta = meta + "<meta property='og:image' content='' />";
    meta = meta + "<meta name='twitter:card' content='summary_large_image' />";
    meta = meta + "<meta name='twitter:site' content='@upvotes_co'>";
    meta = meta + "<meta name='twitter:creator' content='@upvotes_co'>";
    meta = meta + "<meta name='twitter:description' content='Upvotes is a B2B research and voting platform for leading development, design and marketing firms. Which type of firms are you looking for?' />";
    meta = meta + "<meta name='twitter:title' content='Upvotes - Voting Platform for Leading Development, Design and Marketing firms.' />";
    meta = meta + "<meta name='twitter:image' content='' />";
    meta = meta + "<link rel='canonical' href='https://www.upvotes.co/' />";
    meta = meta + "<link rel='publisher' href='#' />";
    ViewBag.MetaTag = meta;
    ViewBag.Title = "Upvotes.co - Voting Platform for Leading Development, Design and Marketing firms.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Homecss")
@*<link href="~/Content/home-design.css" rel="stylesheet" />*@

<script type="text/javascript" lang="en-us">
    $(document).ready(function () {
        $(".myLoginPopUp").click(function () {
            
            if ($('#loginimg').length == 0) {
                @{
                    Session["calledPage"] = "U";
                }
                $('#myModal').modal();
            }
            else {
                window.location.href = "/company/my-profile";
            }
        });
    });
</script>



<div class="mark-home-banner lazy" data-src="images/Untitled-12.jpg">
    <h2>Explore Top Agencies and Choose The Most Suitable Partner for Next Big project</h2>
    <div>
        <span>Which type of companies are you looking for ?</span>
        <a class="smooth-scroll" href="#divCategory">select firms<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
<div class="mark-who-are-we lazy" data-src="images/Untitled-4.jpg">
    <div class="container">
        <h2><span>who</span> we are ?</h2>
        <p class="head1p">At Upvotes.co our aim is to help you choose the perfect technology partner for your business.</p>
        <p class="head2p">Upvotes.co is the B2B community to help you find the top most Mobile App Development, Web Development, Software Development & eCommerce Development, Digital Marketing Agencies, SEO Companies across the globe.  Meet the crème da la crème of the industry and give your project the right start with the right partner.</p>
        <div class="supscript">
            <p>700+</p>
            <p>Real Voters</p>
        </div>
        <div>
            <p>200+</p>
            <p>Verified Companies</p>
        </div>
    </div>

</div>
<div class="rearch-category" id="divCategory">
    <div>
        <p class="head1p">Research Category</p>
        <p class="head2p"></p>
        <div class="reserch-categoy-tiles">
            <div class="r-tile">
                <div> <img src="" class="lazy" data-src="images/Untitled-6.png"></div>
                <p><a href="/mobile-application-developers">Mobile App Development</a></p>
                <p>Searching for the best Mobile App Development for your business? Start choosing from the very best in the industry that deliver end-end app development services.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-7.png"></div>
                <p><a href="/digital-marketing-companies">Digital Marketing</a></p>
                <p>Searching for a brilliant digital marketing agency to take your digital marketing strategy to the next level? Choose from the list of the best-in-class agencies with shower of votes and awesome reviews from clients.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-8.png"></div>
                <p><a href="/web-design-companies">Web Design</a></p>
                <p>Searching for the most creative Web design Agency to build a world class website for you? Choose from the most proficient ones with remarkable votes and reviews and who can deliver full cycle of web designs.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-9.png"></div>
                <p><a href="/web-development-companies">Web Developement</a></p>
                <p>Searching for the most tech-savvy web development partner to develop your website? Start choosing from the list of the top in the game players in the industry with rave reviews and votes from clients.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-11.png"></div>
                <p><a href="/seo-companies">Search Engine Optimization</a></p>
                <p>Searching for a strategy oriented best-in-class SEO partner to stay at the top of the search engine game? Choose from the finest ones who deliver full pack of SEO solutions and have gained the trust of prestigious clients who have given them wonderful reviews and votes for the awesome work.</p>
            </div>
            <div class="r-tile">
                <div><img src="" class="lazy" data-src="images/Untitled-13.png"></div>
                <p><a href="/software-development-companies">Software Developement</a></p>
                <p>Searching for the perfect software development partner for your business? Start choosing from the list of the best-in-class software developers that deliver end to end custom software development services.</p>
            </div>
            <span class="chord"></span>
        </div>
    </div>
</div>
<div class="world-map lazy" data-src="images/Untitled-1.jpg">
    <div class="world-legal">
        <h3>are you a leading service provider</h3>
        <span>we work hard, we play hard, we show the results.</span>
    </div>
    <div class="world-tiles">
        <div class="w-tiles myLoginPopUp">
            <img class="lazy" src="" data-src="images/Untitled-15.png">
            <a class="w1-tile">Get Listed</a>
        </div>
        <div class="w-tiles">
            <img class="lazy" src="" data-src="images/Untitled-16.png">
            <span class="w2-tile">upvote</span>
        </div>
        <div class="w-tiles">
            <img class="lazy" src="" data-src="images/Untitled-17.png">
            <span class="w3-tile">submit your review</span>
            <input type="button" id="btnSubmitReview" class="create-submit submitbut" value="submit now" style="display:none;" />
        </div>
    </div>
</div>

<div id="dialog" style="display:none">
    @Html.Partial("~/Views/Company/_SubmitReview.cshtml")
</div>

