@Scripts.Render("~/bundles/Quotation")
<div class="custom-quote text-center">
    <div class="rough-quote hide">
        <div class="back-nav"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</div>
        <div class="label">
            Rough Estimate
            <div class="amount">$0</div>
        </div>
    </div>
    <div class="step step1 intro">
        <div class="text">looking to build an app?</div>
        <div class="caption">Find out how much it will cost in different regions!</div>
        <div class="btn-group">
            <button id="triggerFixed" type="button" class="btn btn-primary btn-lg">Get an Estimate</button>
        </div>
    </div>
    <div class="step step2 hide">
        <div class="title">Platform</div>
        <div class="sub-title">Which type of app platform your going to build?</div>
        <span style="display:none" class="error-text" id="spnAndroid">Please select atleast one Platform to proceed</span>
        <ul id="ulplatform" class="option single">
            <li><div><i class="fa fa-android" aria-hidden="true"></i><span>Android</span></div></li>
            <li><div><i class="fa fa-apple" aria-hidden="true"></i><span>IOS</span></div></li>
            <li><div><i class="fa fa-windows" aria-hidden="true"></i><span>Windows</span></div></li>
            <li><div><i class="fa fa-cubes" aria-hidden="true"></i><span>Hybrid</span></div></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" id="btnplatform">Next</button>
        </div>
    </div>
    <div class="step step3 hide">
        <div class="title">Design</div>
        <div class="sub-title">What would your UI theme be?</div>
        <span style="display:none" class="error-text" id="spnTheme">Please select atleast one Theme to proceed</span>
        <ul id="ulTheme" class="option single">
            <li><div><i class="fa fa-th" aria-hidden="true"></i><span>Template UI</span></div></li>
            <li><div><i class="fa fa-tag" aria-hidden="true"></i><span>Custom Branded UI</span></div></li>
            <li><div><i class="fa fa-file-video-o" aria-hidden="true"></i><span>Animated UI</span></div></li>
            <li><div><i class="fa fa-gamepad" aria-hidden="true"></i><span>Game Animations</span></div></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
        </div>
        <div class="btn-group">
            &nbsp;&nbsp;
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" id="btnTheme">Next</button>
            </div>
        </div>
    <div class="step step4 hide">
        <div class="title">Security</div>
        <div class="sub-title">How will your users sign up and login into the app?</div>
        <span style="display:none;" class="error-text" id="spnLoginSecurity">please select atleast one Security to proceed</span>
        <ul id="ulLoginSecurity" class="option single">
            <li><div><i class="fa fa-envelope" aria-hidden="true"></i><span>Email ID and Password</span></div></li>
            <li><div><i class="fa fa-share-alt" aria-hidden="true"></i><span>Via Social Networks</span></div></li>
            <li><div><i class="fa fa-shield" aria-hidden="true"></i><span>Using 2 Step Authorization</span></div></li>
            <li><div><i class="fa fa-sign-in" aria-hidden="true"></i><span>No Sign Up Required</span></div></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
        </div>
        <div class="btn-group">
            &nbsp;&nbsp;
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" id="btnLoginSecurity">Next</button>
        </div>
    </div>
    <div class="step step5 hide">
        <div class="title">Security</div>
        <div class="sub-title">Will you allow users to complete a profile?</div>
        <span style="display:none;" class="error-text" id="spnProfile">Please select atleast one to proceed</span>
        <ul id="ulProfile" class="option single">
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Yes</span></div></li>
            <li><div><i class="fa fa-ban" aria-hidden="true"></i><span>No</span></div></li>
            <li><div><i class="fa fa-question-circle" aria-hidden="true"></i><span>I don't know</span></div></li>
            <li class="empty liDisabled"></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
        </div>
        <div class="btn-group">
            &nbsp;&nbsp;
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" id="btnProfile">Next</button>
        </div>
    </div>
    <div class="step step6 hide">
        <div class="title">How do you wish to secure your app?</div>
        <span style="display:none;" class="error-text" id="spnSecurity">please select atleast one Security to proceed</span>
        <ul id="ulSecurity" class="option single">
            <li><div><i class="fa fa-clipboard" aria-hidden="true"></i><span>MVP Versions</span></div></li>
            <li><div><i class="fa fa-lock" aria-hidden="true"></i><span>Basic Security</span></div></li>
            <li><div><i class="fa fa-comments" aria-hidden="true"></i><span>Encrypted Options Communication</span></div></li>
            <li><div><i class="fa fa-shield" aria-hidden="true"></i><span>Complete Protection</span></div></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
        </div>
        <div class="btn-group">
            &nbsp;&nbsp;
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" id="btnSecurity">Next</button>
        </div>
    </div>
    <div class="step step7 hide">
        <div class="title">Do people rate or review things?</div>
        <span style="display:none;" class="error-text" id="spnReviewRate">please select atleast one to proceed</span>
        <ul id="ulReviewRate" class="option single">
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Yes</span></div></li>
            <li><div><i class="fa fa-ban" aria-hidden="true"></i><span>No</span></div></li>
            <li><div><i class="fa fa-question-circle" aria-hidden="true"></i><span>I don't know</span></div></li>
            <li class="empty liDisabled"></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
        </div>
        <div class="btn-group">
            &nbsp;&nbsp;
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" id="btnReviewRate">Next</button>
        </div>
    </div>
    <div class="step step8 hide">
        <div class="title">Which 3rd party services do you need to integrate with?</div>
        <span style="display:none;" class="error-text" id="spnService">please select atleast one Service to proceed</span>
        <ul id="ulService" class="option single">
            <li><div><i class="fa fa-share-alt" aria-hidden="true"></i><span>Social Networks</span></div></li>
            <li><div><i class="fa fa-youtube-play" aria-hidden="true"></i><span>Media</span></div></li>
            <li><div><i class="fa fa-map-marker" aria-hidden="true"></i><span>Location</span></div></li>
            <li><div><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>ecommerce <small>(Existing Online Store)</small></span></div></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
        </div>
        <div class="btn-group">
            &nbsp;&nbsp;
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" id="btnService">Next</button>
        </div>
    </div>
    <div class="step step9 hide">
        <div class="title">Where do you want to save your application data?</div>
        <span style="display:none;" class="error-text" id="spnDatabase">please select atleast one Database to proceed</span>
        <ul id="ulDatabase" class="option single">
            <li><div><i class="fa fa-database" aria-hidden="true"></i><span>A New Database<small>(mySQL, MongoDB etc)</small></span></div></li>
            <li><div><i class="fa fa-sign-out" aria-hidden="true"></i><span>An Existing Database</span></div></li>
            <li><div><i class="fa fa-cloud-upload" aria-hidden="true"></i><span>Cloud Database<small>(Fit for simpler MVPs)</small></span></div></li>
            <li><div><i class="fa fa-question-circle" aria-hidden="true"></i><span>I don't know</span></div></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
        </div>
        <div class="btn-group">
            &nbsp;&nbsp;
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" id="btnDatabase">Next</button>
        </div>
    </div>
    <div class="step step10 hide">
        <div class="title">Do people rate or review things?</div>
        <span style="display:none;" class="error-text" id="spnFeatures">please select atleast one to proceed</span>
        <ul id="ulFeatures" class="option multi">
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>User Management</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Content Management</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Reporting and Analytics</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Notification Control</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Activity feeds or user walls</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Shopping Cart</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Search Option</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Referral System</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Chatting Function</span></div></li>
            <li><div><i class="fa fa-check-circle" aria-hidden="true"></i><span>Integration <small>(CRM, Marketing)</small></span></div></li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
        </div>
        <div class="btn-group">
            &nbsp;&nbsp;
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg" id="btnFeatures">Next</button>
        </div>
    </div>
    <div class="step step11 contact hide">
        <div class="title">Almost Finished!</div>
        <div class="sub-title">Where should we send you the detailed estimate report?</div>
        <form>
            <div class="form-group input-medium error">
                <input type="text" class="form-control input-txt" id="txtName" aria-describedby="emailHelp" placeholder="My name is*">
                @*<span class="error-text">Enter your name</span>*@
            </div>
            <div class="form-group input-medium error">
                <input type="text" class="form-control input-txt" id="txtEmail" placeholder="My email id is*">
                @*<span class="error-text">Enter your mail id</span>*@
            </div>
            <div class="form-group input-medium error">
                <input type="text" class="form-control input-txt" id="txtCompanyName" placeholder="My company name is*">
                @*<span class="error-text">Enter company name</span>*@
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg btnPrevious">Previous</button>
            </div>
            <div class="btn-group">
                &nbsp;&nbsp;
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" id="btnReport" public="tab">Get Report</button>
            </div>
        </form>
    </div>
    <div id="imgloader" class="card-loader"></div>
</div>