<div class="about">
    <h2>How to choose the perfect SEO companies for your website?</h2>
    <br>
    <p>Whether you have are start-up, and small-time business or an established MNC there is no denying the fact that you would need SEO muscle power to be at the top of your SEO game.</p>

    <p>You might choose to build an internal team or hire a SEO partner Will depend on multiple factors like your</p>

    <ul>

        <li>Budgets</li>
        <li>Timelines</li>
        <li>Nature of your project etc.</li>
    </ul>

    <p>Whichever kind of resource you choose to go for – an internal team or a external SEO company, you must do it right.</p>

    <p>A bad job at SEO can has long lasting implications which go way beyond SERP rankings. They affect your brand reputation and also revenues. Further, SEO is not a one-time job, as algorithms change at almost an everyday you have to keep at it consistently. Therefore, choosing the right technology partner becomes a critical task.</p>

    <p>There are thousands of people out there who can do the job for you, but can you afford to take a blind pick at any one of them? You know the answer – Of Course not. So here is a checklist and tips which will help you choose the right SEO company for your business.</p>

    <h3>First let's take a look at the common mistakes people make while filtering out SEO companies:</h3>

    <h4>1) Totally relying on Google to shortlist companies</h4>

    <p>It looks like that it's common sense that a SEO company will do their SEO well, and hence whoever is ranking on the top is the best. Right?</p>

    <p>Wrong!</p>

    <p>A lot of great SEO companies may not rank on the top pages because they are doing the job for their clients and don't really have enough resources and time to optimise their sites to the fullest. So if you rely only on Google you are surely to miss a lot of good companies.</p>

    <p>So, that is why here on Upvotes you just not get the listings of the SEO companies but you also get their ratings and the client reviews in the same place.  And, since you are already here, you have made the right choice to not simply rely on Google's SERP.</p>

    <h4>2) Blindly believing a 'Sales pitch' made by a company</h4>

    <p>If you rely 100% on a company's 'Pitch deck' you are risking your project. There is a reason these extra-varnished decks are called 'Pitch Deck'.  So how do you search for the right SEO company which meets all your expectations?</p>

    <ul>
        Here is a simple process which you can follow:
        <li>Set your expectations or Goals</li>
        <li>Set your selection criteria</li>
        <li>Shortlist 3-5 companies basis the above</li>
        <li>List down the questions you would ask them.</li>
        <li>Ofcourse – do a background check.</li>
    </ul>

    <h3>So, let's take a look at each of the above points in detail:</h3>

    <h4>1) Set your goals</h4>

    <p>As mentioned earlier – SEO in not an one time job, it is an ever going long term project. You can never really be done. So your goals also have to be long term, flexible and measurable. The goals will depend on the type of business you are into. For eg. You are an e-commerce website your goals can be:</p>

    <ul>
        <li>Ranking in the first page by the second month of website launched</li>
        <li>Having X no of transactions per week/month</li>
        <li>X % increase in traffic on the site MoM or X% increase in transactions MoM.</li>
    </ul>

    <p>These are long term goals, How will you evaluate success your agency in and decide if you have to revisit the agreement you have made? For this you would need to set up short term goals for your agency which can be.</p>

    <ul>
        <li>Ranking for the XYZ keywords in the first month.</li>
        <li>Making sure you set tangible goals – can be no of backlinks you get, are you ranking above your competitors. Etc.</li>
    </ul>

    <h4>2) Set your selection criteria</h4>

    <p>Once you have set your goals the next step is to set your selection criteria, which can be on the basis of</p>

    <ul>
        <li>How much budget you are willing to spend?</li>
        <li>Are you looking for a small studio shop kind of a company or would you want a bigger set up with a key-account manager at least?</li>
        <li>Geographical location – would you want someone in the same city as you are or you would be comfortable working with an offshore team?</li>
        <li>What is the scope of your project – only SEO? Website development and SEO?</li>
        <li>Is it a one-time project or a long-term project?</li>
    </ul>

    <p>Whatever is the nature of your project is it is advisable to onboard a partner on a short-term contract – at best 3 months, so that you can course correct in the right time.</p>

    <h4>3) Shortlist 3-5 companies basis the above</h4>

    <p>Once you have sorted out the make sure you don't get into the problem of abundance. Yes there are numerable SEO companies out there. The more you look the more you find and the list will never end. So make sure you shortlist at max five candidates before you choose the right one.</p>

    <h4>4) List down the questions you would ask them.</h4>

    <p>One you have the shortlist, make sure you know exactly what are you going to ask them. Just don't go by what they show you ask them tough and right questions. Some questions you might want to ask can be:</p>

    <ul>
        <li>What kind of industries they have handled earlier?</li>
        <li>Do they have any experience in your domain? If not what is their process of working in a new industry.</li>
        <li>Technical expertise of the team which will be deployed for your project.</li>
        <li>What kind of tangible results they have got for their clients. Do they have the data to show.</li>
        <li>Last and most important – ask for client references of the clients they quote during their pitch, don't just go by the case studies. If they have done good work for them they will be more than willing to share those.</li>
    </ul>

    <h4>5) Of Course – do a background check.</h4>

    <p>No your job is not finished once they have made the pitch presentation. Get on your toes, use the references they have provided. LinkedIn is one of the right resource to get in touch will professional network. Send them a polite In-mail.</p>

    <p>Also, check if you personally know someone who has worked with the vendor before. There is nothing like getting a feedback straight from the horse's mouth.</p>

    <p>If you don't get any answers by the above two methods, call their board number and try to speak to the person who is responsible for the handling SEO vendors (Marketing Manager, Digital Manager etc.)</p>

    <p>You can look at portals like ours where we provide with honest reviews and ratings about the vendors. So now that you have got all the information about SEO and how to search SEO partners. </p>

    <h3>Go ahead start looking for the best SEO companies here.</h3>
</div>