
<div class="header-bottom without-sticker" style="background-color: #00a7ae;border-top: 1px solid white;">
    <div class="container">
        <h1 class="page-title" style="color:white;">Privacy policy</h1>
    </div>
</div>

<section class="main-content-wrapper">
    <div class="main-container container">
        <div class="row">
            <section class="col-sm-12">                
                <div>
                    <section class="clearfix">
                        <div>
                            <div class="clearfix" style="margin-top: 26px;">
                                <p><strong>Last revised: Oct 10th, 2018</strong></p><br />
                                <p><strong>Principles of data protection</strong></p><br />
                                <div style="text-align:justify">
                                    <p>
                                        This Privacy Policy covers information we collect from users and visitors of Upvotes.co and our related research and review services (collectively, the “Services”).
                                        Agreeing to this Privacy Policy or using any of the Services offered here, you are consenting to the collection, use, disclosure and other handling of information as described below.
                                    </p><br />
                                    <p>
                                        In case you have any concern about providing information to us or having such information used in any manner, digital or otherwise, permitted in this Privacy Policy, you should immediately discontinue the use of our Services or refrain from using any of our Services.
                                    </p><br />
                                    <p>
                                        At <a href="/">Upvotes.co</a> we take your privacy seriously, and fully committed to protecting your personally-identifiable information. We have created this Privacy Policy to share with you how Upvotes uses the information collected from you for its research purposes. The information is collected through the website (<a href="/">www.upvotes.co</a>), surveys - both online and offline and from third party. Before interacting further with our website and its Services we recommend you to read this Privacy Policy carefully. The word 'you' or 'users' used in this document represents the visitors who visit the site or use any of its services. When you visit <a href="/">Upvotes.co</a> website or submit information to it whether online or offline, you consent to the use, collection and disclosure of the information it has about you in accordance with this Privacy Policy.
                                    </p><br />
                                    <p>
                                        <strong>What is Upvotes.co?</strong><br />
                                        <a href="/">Upvotes.co</a> aims at finding the best companies in the B2B landscape. It provides quality research support for both buyers and sellers of service or software providers in the industry. Upvotes.co provides categorized directory, authoritative research, evaluated content and resources based on its numerous online and offline initiatives. This helps the clients make informed decision and seize opportunities.
                                    </p><br />
                                    <p>Vendors are looking for best clients and companies who need B2B services or softwares; service seekers who need their service or software developed are searching for right partner that are a cut above the rest. Aided by Voting count, client reviews and other specific information, upvotes brings them together on the website through the user accounts by sharing required information as and when required.</p><br />
                                    <p>
                                        <strong>Information's <a href="/">Upvotes.co</a> collects</strong><br />
                                        The information <a href="/">Upvotes.co</a> collects about the companies and their services through enquiry and research methodologies. Upvotes.co zeroes in on relevant companies and lists them after appropriation. Companies, which are interested in participating in research provide necessary information, testimonials and reviews about other companies too. Information is also collected through the user accounts and profiles created by companies who use Upvotes.co services.
                                    </p><br />
                                    <p><a href="/">Upvotes.co</a> may collect your information through several different online and offline channels. It can be via website, through Registration forms, user login, emails, in person, over the phone, through internal and third-party web based survey tools. The personal information it collects in general includes but is not limited to name, mailing address, email address, telephone numbers, gender, date of birth, occupation, qualification and other similar demographic information.</p>
                                    <p>Upvotes uses website analytics services like Google Analytics to collect data. These services use cookies. Most browsers accept cookies automatically by default. When a visitor visits <a href="/">Upvotes.co</a>, he consents to the placement of cookies in his browser in agreement with <a href="/">Upvotes.co</a> Privacy Policy. </p><br/>
                                    <p>When you visit <a href="/">Upvotes.co</a> website, it automatically collects information about the timing of your visit, IP address, the pages you visit, the links you click on, Operating System, the browser you use, the device used to view our website and the screen resolution of that device.</p><br/>
                                    <p>
                                        <strong>Use of information</strong><br />
                                        <a href="/">Upvotes.co</a> website, records the details of your visit and logs your information for administrative and research purposes. The information collected from you like the IP adress is used to create user profiles. The IP addresses and other information helps it create user profiles. User profiles help in predicting user behaviour which in turn helps <a href="/">Upvotes.co</a> make the site user-friendly. Information related to day, date and time of users’ visits helps <a href="/">Upvotes.co</a> in scheduling its maintenance tasks and enables it to utilize its prime time well. <a href="/">Upvotes.co</a> tracks the navigation, pages you visit, duration of your visit and the downloads you are interested in to know you better. Personally-identifiable information is stored and is used to contact you, to keep you informed and obtain your views of <a href="/">Upvotes.co</a> services and activities. It is also for statutory and regulatory compliance and for processing any enquiries raised by you with respect to your dealings with <a href="/">Upvotes.co</a>.
                                    </p><br />
                                    <p>Testimonials and reviews received about app developing companies and app developers listed with us may be posted by <a href="/">Upvotes.co</a> on the website. Such testimonials carry the name of the provider, designations and any other information shared by the provider.</p><br />
                                    <p>Cookies are also used by <a href="/">Upvotes.co</a> to identify you, your interests and the way you use the site. It helps us provide better engagement and process any requests you make.</p><br/>
                                    <p>
                                        <strong>Disclosure of information</strong><br />
                                        <a href="/">Upvotes.co</a> takes and shall take reasonable steps to prevent unauthorized or accidental disclosure of your personally-identifiable information. <a href="/">Upvotes.co</a> shall not intentionally transfer or disclose any of your personally-identifiable information to third parties without your consent except as follows.
                                    </p><br/>
                                    <p><a href="/">Upvotes.co</a> may provide access to your personally-identifiable information to third party vendors engaged by it only when such vendor first agrees on maintaining the strict confidentiality of such information and agrees to provide the same level of data security as provided by <a href="/">Upvotes.co</a>.</p><br/>
                                    <p>If presented with a court order, <a href="/">Upvotes.co</a> is bound by the laws, rules and regulations of the applicable jurisdiction in furtherance of potential or on-going legal proceedings to surrender personal information to affected parties and legal authorities.</p><br/>
                                    <p><strong>Information Access, Correction, and Deletion Options.</strong><br/>
Your right to deactivate or delete your account from <a href="/">Upvotes.co</a> is subject to our records retention policies and applicable law, including any statutory retention requirements. If you wish to access, correcct, update and/or delete any information provided to the site, you have all the right to do so. However, a company profile with even a single review cannot be deleted as the information is shared by a third-party. At any point of time, if you are not interested in the updates, Direct Mailers and newsletters sent by <a href="/">Upvotes.co</a>, you can unsubscribe from the mailing lists and registrations from the site. In case of any difficulty, you can also approach <a href="/">Upvotes.co</a> and request us to unsubscribe.</p><br/>
<p><a href="/">Upvotes.co</a> uses cookies where they are necessary for its services or where it has user’s implied or express consent. You can always inspect, block or delete cookies with right settings in the browsers and right tools.</p><br/>
<p>If you are in any way concerned about providing information on <a href="/">Upvotes.co</a> website in any manner permitted in <a href="/">Upvotes.co</a> Privacy Policy, you should refrain from using the website. Please feel free to write to us in case you have any concerns regarding the reviews and testimonials.</p><br/>
                                    <p><strong>Data Security</strong><br/>
                                        <a href="/">Upvotes.co</a> takes and implements generally accepted standards of technology and operational security to protect your personal information from unauthorised access, use, disclosure or loss while in transmission or storage. Both online and offline safeguards are in place to prevent any misuse, destruction and alteration of information shared with us. Only authorized <a href="/">Upvotes.co</a> employees and vendors are provided access to personally-identifiable information. Systems are routinely monitored for potential vulnerabilities and attacks. At your end we advise you to keep your login information secure to prevent further misuse.
</p><br/>
                                    <p><strong>Data Retention</strong><br/>
As long as we are not specifically requested to remove the strategically collected data from our servers, the data stays with us. Users who have an account with us, the information provided by you would be with us for as long as your account is active or is needed for legal, regulatory or administrative purposes. To prevent frauds, resolve disputes and abuse or as a part of our data backup process, sometimes, we may be required to keep your information even after you have closed your account.
</p><br/>
                                    <p><strong>Notification of changes</strong><br />
By using (visiting) the <a href="/">Upvotes.co</a> site, you consent to the collection, use and storage of your information by <a href="/">Upvotes.co</a> in the manner described in this Privacy Policy and elsewhere on the site. <a href="/">Upvotes.co</a> reserves the right to change, modify, add or remove portions of the Privacy Policy at any time, at its discretion. We request you to go through the Privacy Policy once you are notified of a change. In case you continue using the site following the changes in Privacy Policy, it will mean that you accept the changes.
</p>
                                    <p>If you have any questions about <a href="/">Upvotes.co</a> Privacy Policy or if you require any assistance in navigating the site and reading the provided material, you can contact us at: <a href="mailto:support@upvotes.co">support@upvotes.co</a></p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>